apiVersion: apps/v1
kind: Deployment  
metadata:
  name: kubernetes-demo-api
  labels:
    app: kubernetes-demo-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kubernetes-demo-api
  template:
    metadata:
      labels:
        app: kubernetes-demo-api
    spec:
      containers:
        - name: kubernetes-demo-api
          image: abhilashreddy15519/kubernetes-demo-api:latest
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:  
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 20
          volumeMounts:
            - name: app-volume
              mountPath: /app
            - name: node-modules-volume
              mountPath: /app/node_modules
          command: ["npm", "run", "dev"]
      volumes:
        - name: app-volume
          hostPath: